@import "../../styles/partials/global";

.projectItem {
  padding-top: $mobile-padding-before-headlines;
  display: flex;
  justify-content: space-between;

  &__image {
    width: 50%;
    height: 50%;
  }
}

@include tablet {
  .projectItem {
    padding-top: $desktop-padding-between-components;
  }
}