@import "../../styles/partials/global";

.portfolioNavBar {
  display: flex;
  justify-content: space-between;
  padding-top: $mobile-padding-before-headlines;
  gap: 16px;
  padding-bottom: $mobile-padding-after-headlines;
  padding-left: 16px;
  padding-right: 16px;

  &__links {
    color: $Black;
    border-radius: 20px;
    padding: 0px 16px;
  }

  .active-home, .active-about, .active-reviews{
    background-color: $Black;
    color: #fff;
  }

  &__links:hover {
    background-color: $Black;
    color: #fff;
  }
}

@include tablet {
  .portfolioNavBar{
    padding-top: 0;

    &__links {
      font-size: 14px;
    }
  }
}