.userForm {
  padding: 16px;
  text-align: center;

  &__title {
    text-decoration: underline;
  }

  &__form {
    border: 1px solid black;
    padding: 16px;

    &-name, &-email, &-phoneNum, &-summary, &-linkedin, &-github, &-primaryColor, &-secondaryColor{
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}