$Black: black;
$Red: red;
$Orange: orange;
$Yellow: yellow;
$Green: green;
$Blue: blue;
$Indigo: indigo;
$Violet: violet;
$Grey: grey;

$desktop-padding-before-headlines: 2.25rem;
$desktop-padding-after-headlines: 1.5rem;
$desktop-padding-between-components: 1.5rem;
$mobile-padding-before-headlines: 1.5rem;
$mobile-padding-after-headlines: 1rem;
$mobile-padding-between-components: 1rem;

$tablet-breakdown: 768px; 
$desktop-breakdown: 1280px;