@import "../../styles/partials/global";

.projectContent {
  padding-bottom: $mobile-padding-between-components;
}

@include tablet {
  .projectContent {
    padding-bottom: $desktop-padding-between-components;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}