@import "../../styles/partials/global";

.educationContent {
  padding-bottom: $mobile-padding-between-components;

  &__dots {
    height: 10px;
    width: 10px;
    background-color: $Black;
    border-radius: 50%;
    display: inline-block;
    margin-left: $mobile-padding-between-components;
    margin-right: $mobile-padding-between-components;
  }
}

@include tablet {
  .educationContent {
    padding-bottom: $desktop-padding-between-components;

    &__dots {
      margin-left: $desktop-padding-between-components;
      margin-right: $desktop-padding-between-components;
    }
  }
}