@import "../../styles/partials/global";

.header {
  &__link {
    text-decoration: none;
  }

  &__content {
    display: flex;
    justify-content: center;
    padding-top: $mobile-padding-before-headlines;
    padding-bottom: $mobile-padding-after-headlines;
  }
}

@include tablet {
  .header {
    &__content {
      padding-top: $desktop-padding-after-headlines;
      padding-bottom: $desktop-padding-after-headlines;
    }
  }
}