@import "../../styles/partials/global";

.error {
  text-align: center;
  padding: 0 $mobile-padding-between-components;

  &__text {
    padding-bottom: $mobile-padding-between-components;
  }

  &__buttonContainer {
    overflow: hidden;
    background-color: $Grey;
  }

  &__button {
    height: 36px;
    border-radius: 20px;
    border: 1px solid lightgray;
    padding: 1rem;

    &:hover {
      background-color: $Yellow;
      cursor: pointer;
    }
  }
}

@include tablet {
  .error {
    padding: 0 $desktop-padding-between-components;
  
    &__text {
      padding-bottom: $desktop-padding-between-components;
    }

    &__button {
      padding: 2rem;
    }
  }
}